.container {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #777;
  border-radius: 50%;
}

.input:checked ~ .checkmark {
  background-color: #777;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input:checked ~ .checkmark:after {
  display: block;
}

.input:checked ~ .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
